#top-container {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 50px;
}

#top-container h1 {
  line-height: 25px;
}

#top-container a {
  text-decoration: none;
  color: #000;
}

#top-container a:hover {
  color: #fff;
  background-color: #000;
}