#main-container {
  max-width: 900px;
  min-width: 200px;
  margin: 50px auto;
  text-align: center;
}

#main-container h1 {
  font-size: 20px;
  line-height: 0;
}

#main-container h2 {
  font-size: 18px;
  font-weight: normal;
}

#content {
  max-width: 600px;
  min-width: 100px;
  margin: 30px auto;
}

#main-container img {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #000;
}

#main-container a {
  color: #000;
}

#main-container a:hover {
  background-color: #000;
  color: #fff;
}